.idea/
*.log
npm-debug.log
yarn-error.log
.DS_Store
build/
node_modules/
dist/
.cache
clientConfig.js
.next
wooConfig.js

.now
.history
.vercel
orderExample.json
orderExamplePaid.js
package-lock.json
.env

logo.png